.container
{
    width: 380px;
    height: 480px;
    
}
 input
{
   text-align: center; 
   border: 1px solid navy;
}
select
{
    text-align: center;
    /* border: 1px solid navy; */
} 
.current
{
    display: none;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }