<div class="wrapper">


<div class="row">
    <div class="col-50">
      <div class="container">
        <form [formGroup]="checkoutForm" (ngSubmit)="onsubmit()" >
          <div class="row">
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Name on Card</label>
              <input type="text" id="cname" name="cardname" placeholder="Enter your name" formControlName="name">
              <span class="error" *ngIf="name.invalid && name.touched">name is invalid</span>
  
              <label for="ccnum">Credit card number</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="Enter your card number" formControlName="card_number" minlength="16" maxlength="16">
              <span class="error" *ngIf="card_number.invalid && card_number.touched">card number is invalid</span>
  
              <label for="expmonth">Exp Month</label>
              <input type="number" id="expiry_month" name="expiry_month" size="150" placeholder="Enter Expiry month" formControlName="expiry_month" step="1" min="1" max="12">
              <span class="error" *ngIf="f.expiry_month.hasError('max') || f.expiry_month.hasError('min')">expiry month is invalid</span>
  
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  <input type="number" id="expiry_year" name="expiry_year" size="150" placeholder="Enter expiry year" formControlName="expiry_year" step="1" min="2021" max="2026">
                  <span class="error" *ngIf="f.expiry_year.hasError('max')|| f.expiry_year.hasError('min')">expiry year is invalid</span>
                </div>
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" size="50" name="cvv" placeholder="Enter cvv" formControlName="cvv">
                  <span class="error" *ngIf="f.cvv.hasError('minlength') || f.cvv.hasError('minlength') || cvv.invalid && cvv.touched">cvv is invalid</span>
                </div>
            </div>
          </div>
          <input type="submit" [disabled]="!checkoutForm.valid" value="Continue to checkout" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
          <input type="reset" id="secbtn"  value="reset" class="btn btn-warning">
          <input type="button" id="secbtn" value="cancel" class= "btn btn-warning" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cancel">
        </form>
      </div>
    </div>
    <div class="col-50">
      <div class="container">
        <h4>No of Passengers booked<span class="price" style="color:black"><b>{{count}}</b></span></h4>
        <div>
        <p>username<span class="price">{{username}}</span></p>
        <hr>
        <p>travel date for forward journey<span class="price">{{travel_date}}</span></p>
        <p>selected seat numbers for forward journey<span class="price">{{seat_nos}}</span></p>
        <p>Forward journey Cost <span class="price" style="color:black"><b>{{upcost}}</b></span></p>
        </div>
        <hr>
        <p>travel date for return journey<span class="price">{{return_date}}</span></p>
        <p>selected seat numbers for return journey<span class="price">{{return_seat_nos}}</span></p>
        <p>Return Journey Cost <span class="price" style="color:black"><b>{{downcost}}</b></span></p>
        <hr>
        <p>Total Amount to be paid <span class="price" style="color:black"><b>Rupees ={{upcost+downcost}}/-</b></span></p>
      </div>
    </div>
  </div>
  <div class="container">  
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Payment Successful</h4>
          </div>
          <div class="modal-body">
            <p>Congrats Your journey has been confirmed</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="generateticket()">Show tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  
    <div class="modal fade" id="cancel" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you need to cancel the booking?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Proceed</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>