.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    height:80px;
    width: 250px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    max-height: 700px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=number]{
    width: 100%;
    padding: 10px;
    margin: 3px 0 22px 0;
    /* border: none; */
    background: #f1f1f1;
  }
  .form-container input[type=radio]{
    padding: 10px;
    margin: 3px 10px 22px 0;
  }
  select{
    width: 100%;
    padding: 10px;
    margin: 3px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    margin-left:15px;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.error{
    color:red;
}
input.ng-invalid{
  border-left:3px solid red;
}
input.ng-valid{
  border-left:3px solid green;
}
.wrapper{
  min-height: 90vh;
  padding-top: 50px;
  background-color: #02183f;
}
.card{
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
  width: 80vw;
  padding: 20px;
  text-align: center;
  
}
.card-title{
  margin-bottom: 20px;
  font-size: xx-large;
}
.findBtn{
  width: 100%;
  height: 50px;
  border-radius: 0;
}
.custom-select{
  border-radius: 0;
  border-width: 2px;
}
.offer-card{
  margin-top: 75px;
  margin-bottom: 75px;
}
#signUpBtn{
  margin-top: 25px;
  height: 50px;
  width: 150px;
  border-radius: 0;
}
button
{
    background-color: #3B5998;
}
.dateselect{
  border-style: solid;
  width: 100%;
  height: 37px;
  border-color: rgb(93, 167, 236);
}
.errorMessage{
  color: red;
  margin-left: 20px;
}

a {
  cursor: pointer;
  color: white;
  font-weight: 700;
}

a:hover{
  text-decoration: none;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.photo{
    border-radius: 50%;
}
.devCard{
    border-right-width: 3px;
    border-right-color: lightgray;
    border-right-style: solid;
}

.contact-Card{
    margin-top: 75px;
    margin-bottom: 75px;
}
