.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loginButton{
    float: left;
    width: 125px;
}
#mailButton{
    float: right;
    width: 125px;
}
.errorDivision{
    font:bold;
    color:red;
    
}
h4{
    font-weight: bold;
    color: rgb(3,63,112);
}