<div class="card-body"  class="center">
    <br>
    <h4>Forget Password</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 400px;">
        <div class="form-row">
            <div class="form-group col">
                <label>Enter registered email</label>
                <input type="text" formControlName="userName" class="form-control"  />
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1" id="mailButton">Send Mail</button>
            <!-- Set STUDENT LOGIN COMPONENT -->
            <button class="btn btn-secondary" id="loginButton" type="button" [routerLink]="['/Login']">Login</button>
        </div>
    </form>
    
    <div class="errorDivision">
        {{message}}
    </div>
</div>
<!-- <app-resetpassword></app-resetpassword> -->

