<div class="wrapper">
<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div>
        <label>
            Username
        </label>
        <input type="text" [(ngModel)]="user.username" readonly>
        <br>
        <label>
            Firstname
        </label>
        <input type="text" [(ngModel)]="user.firstname" readonly>
        <br>
        <label>
            Lastname
        </label>
        <input type="text" [(ngModel)]="user.lastname">
        <br>
        <label>
            Dob
        </label>
        <input type="text" [(ngModel)]="user.dob" readonly>
        <br>
        <label>
           Phone
        </label>
        <input type="text" [(ngModel)]="user.phone">
        <br>
        <button (click)="update()" class="btn btn-primary" id="signupbtn">update</button>
    </div>
</div>
</div>

