<!-- BODY -->
<div class="wrapper">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">You decide, we take you there</h3>
        <app-search-flight></app-search-flight>
          <br />
      </div>
    </div>
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Our Frequent Cities</h3>
        <div class="row">
          <div class="col-md-3" style="padding: 5px;">
            <img src="assets/images/chennai.jfif" height="200px" width="220px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="assets/images/mumbai.jfif" height="200px" width="220px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="assets/images/delhi.jfif" height="200px" width="220px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="assets/images/kolkata.jfif" height="200px" width="220px" />
          </div>
        </div>
      </div>
    </div>
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">About Us</h3>
        <div class="row">
          <div class="col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/images/seats.jpeg" height="200px" width="200px" /><br /><br />
            <h5>Ambience</h5>
            <hr />
            Exploring the world in comfort
            </div>
          <div class=" col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/images/safety.jpeg" height="200px" width="200px" /><br /><br />
            <h5>Hospitality</h5>
            <hr />
            <span class="info">
              We never fail to amaze our customers with our excellent Hospitality 
              <hr />
            </span>
          </div>
          <div class=" col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/images/inside.jpeg" height="200px" width="200px" /><br /><br />
            <h5>Comfort</h5>
            <hr />
            <span>
              Your satisfaction our success
              <hr />
            </span>
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/images/people.jpeg" height="200px" width="200px" /><br /><br />
            <h5>People's Choice</h5>
            <hr />
            <span>
              Your on flight experience, our responsibility!
              <hr />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- BODY -->
  
